body.light {
  background: #fff;
  color: #222;
}

body.dark {
  background: #191825;
  color: #eee;
}

/* Example for Navbar */
body.light nav {
  background: rgba(255,255,255,0.8);
  color: #222;
}

body.dark nav {
  background: #23234a;
  color: #eee;
}
